body {
	Margin: 0;
    padding: 0;
    background-color: #F7F0EA;
}

table {
	border-spacing: 0; 
}
        
td {
	padding: 0;
}
        
img {
	border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #F7F0EA;
    padding-bottom: 40px;
}

.webkit {
    max-width: 600px;
    background-color: #ffffff;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #111111;
}

.header {
    position: relative;
    top: 70px;
    left: 190px;
}

.three-columns {
    text-align: center;
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.three-columns .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.padding {
    padding: 15px;
}

.three-columns .content {
    font-size: 15px;
    line-height: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: orangered;
}


@media screen and (max-width: 600px) { 
    .header {
        width: 130px;
    
    }
}
        
@media screen and (max-width: 400px) { 
    .header {
       width: 130px;
       display: flexbox;
       justify-content: center;
    }
}