body {
	Margin: 0;
    padding: 0;
    background-color: #F7F0EA;
}

table {
	border-spacing: 0; 
}
        
td {
	padding: 0;
}
        
img {
	border: 0;
}

@media screen and (max-width: 600px) { 
}
        
@media screen and (max-width: 400px) { 
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #F7F0EA;
    padding-bottom: 40px;
}

.webkit {
    max-width: 600px;
    background-color: #ffffff;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #111111;
}

.header {
    position: relative;
    top: 70px;
    left: 160px;
}


