body {
	Margin: 0;
    padding: 0;
    background-color: #F7F0EA;
}

table {
	border-spacing: 0; 
}
        
td {
	padding: 0;
}
        
img {
	border: 0;
}


p {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #F7F0EA;
    padding-bottom: 40px;
}

.webkit {
    max-width: 600px;
    background-color: #ffffff;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    color: #111111;
}

.header {
    max-width: 100%;
    height: auto;
}

.description {
    text-align: center;
    font-size: 28px; 
}


.description1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

p.description {
    margin: 2px;
}


.three-columns {
    text-align: center;
    font-size: 0;
}

.three-columns .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.padding {
    padding: 15px;
}

.three-columns .content {
    font-size: 12px;
    line-height: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #3a5fae;
}


@media screen and (max-width: 600px) { 
    .header {
        width: 130px; 
    }
    p.description {
        font-size: 20px;
    }
    p.description1 {
        font-size: 15px;
    }
    .logo {
        width: 60px!important;
    }

}
        
@media screen and (max-width: 400px) { 
    p.description {
        font-size: 20px;
    }
    p.description1 {
        font-size: 15px;
    }
    .logo {
        width: 60px!important;
    }
}
